<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudskol.ifeel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_face_black_24dp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".main.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".feel.CreateFeelActivity"
            android:label="@string/title_activity_feel"
            android:parentActivityName=".feel.FeelListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cloudskol.ifeel.feel.FeelListActivity" />
        </activity>
        <activity
            android:name=".main.TrendActivity"
            android:label="@string/title_activity_trend"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cloudskol.ifeel.main.MainActivity" />
        </activity>
        <activity
            android:name=".influencer.InfluencerActivity"
            android:label="@string/title_activity_influencer"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cloudskol.ifeel.main.MainActivity" />
        </activity>
        <activity
            android:name=".trend.FeelingsTrendActivity"
            android:label="@string/title_activity_trend"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cloudskol.ifeel.main.MainActivity" />
        </activity>

        <receiver android:name=".widget.FeelingAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/feeling_app_widget_info" />
        </receiver>

        <!--
        <activity android:name=".widget.FeelingAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".feel.FeelListActivity"
            android:label="@string/title_feeling_list"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cloudskol.ifeel.main.MainActivity" />
        </activity>
        <activity
            android:name=".feel.UpdateFeelActivity"
            android:label="@string/title_activity_update_feel"
            android:parentActivityName=".feel.FeelListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cloudskol.ifeel.feel.FeelListActivity" />
        </activity>

        <provider
            android:name=".db.FeelContentProvider"
            android:authorities="com.cloudskol.ifeel"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>